# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/
.env


# p5.js Editor
__pycache__/
.Rhistory
.RData
.Rproj.user/

# VSCode or IntelliJ config
.vscode/
.idea/


