body {
    margin: 0;
    overflow: hidden;
    background-image: url('./sea.png');
    background-size: cover;
    font-family: sans-serif;
  }

  canvas {
    display: block;
    /* background-color: #ADD8E6; Light blue sea color */
  }

  #hud {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 确保占据整个视口高度 */
  }

.menu {
    display: block;
    margin: 2em auto;
    width: 50%;
    text-align: center;
}

.btn {
    border-radius: 4px;
    background-color: #04AA6D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }